<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.name %></title>
</head>
<body>
<h1>Update Product</h1>

<form action="/products/<%=product._id%>?_method=PUT" method="POST">
    <label for="name">Product Name</label>
    <input type="text" name="name" id="name" value="<%= product.name %>">
    <label for="price">Price (Unit)</label>
    <input type="number" id="price" name="price" value="<%= product.price %>">
    <label for="category"> Category</label>
    <input type="text" id="category" name="category" value="<%= product.category %>">
    <button>Submit</button>
</form>
</body>
</html>